<%- include("partials/header") %>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to YelpCamp</h1>
    <a href="/campgrounds" class="btn btn-lg btn-primary">View all Campgrounds</a>
  </div>
</div>
<%- include("partials/footer") %>
