<%- include("partials/header") %>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to YelpCamp</h1>
    <p class="mt-4">
      <a class="btn btn-lg btn-primary" href="/campgrounds">View all Campgrounds</a>
    </p>
  </div>
</div>
<%- include("partials/footer") %>
